body{
    background-image: url("https://picsum.photos/id/185/2000/1000");
    background-attachment:fixed;
}

h1{

}

#header{
    background-color:rgb(243, 198, 138);
    font-size: 20px;
}

#hero{

}

#product{

}

#testimonial{

}

#about{

}

#footer{

}

